fastapi
fastapi-pagination
uvicorn[standard]
python-multipart  # needed by starlette for form processing
sqlalchemy  # orm for postgres
psycopg2  # postgres connection
pillow
redis
jinja2

ipdb  # debugging

-e ../../../sentry-python  # sdk in a sibling folder to this projects folder
#sentry-sdk  # prodcution sentry SDK