Django

django-cors-headers
djangorestframework

drf-extensions  # adds caching to DRF
whitenoise  # serving static files
psycopg  # connection to Postgres database

celery  # async tasks
django-celery-beat  # store celery beat schedule in db.
redis  # message broker for celery

gunicorn  # application server sync
uvicorn  # application server async

ipdb  # debugging
locust # load testing
memory_profiler  # memory profiling
matplotlib  # plotting the memory profile

-e ../../../sentry-python  # sdk in a sibling folder to this projects folder
