Django
django-cors-headers  # setting cors headers 
djangorestframework  # rest apis made easy
whitenoise # serving static files
psycopg2  # connection to Postgres database
redis  # key value store
gunicorn  # application server (WSGI)
uwsgi  # application server (WSGI)
uvicorn  # application server (ASGI)

ipdb  # debugging

# opentelemetry
opentelemetry-distro
opentelemetry-instrumentation-django

-e ../../../sentry-python  # sdk in a sibling folder to this projects folder
#sentry-sdk  # prodcution sentry SDK
