Django==4.2.6
django-cors-headers==4.1.0
djangorestframework==3.14.0
gunicorn==20.1.0
uvicorn==0.18.3
whitenoise==6.2.0  # serving static files
psycopg  # connection to Postgres database

celery
django-celery-beat  # store celery beat schedule in db.
redis

ipdb  # debugging
locust # load testing

-e ../../../sentry-python  # sdk in a sibling folder to this projects folder
#sentry-sdk  # prodcution sentry SDK